h1 {
font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  font-size: 3em;

}


body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0em;
   background-image: url("https://wallpaperaccess.com/full/2441390.jpg");
   
}

p { 
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 1.15em;
  color: #333;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
  float: center; 

}
h2 { 
 font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.4em;
  color: rgb(247, 247, 247);
  padding-top: 50px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
 
}
h69 { 
 font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.4em;
  color: rgb(247, 247, 247);
  padding-top: 50px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
  
 
}

h3 { 
font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.2em;
  color: rgb(247, 247, 247);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
 
}

h4 { 
font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  font-size:  1em;
  color: rgb(199, 194, 204);
  opacity: 90%;
 
}

h5 { 
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}


a:link {
  text-decoration: none;  
  color:rgb(152, 140, 158);
   opacity: 100%;
  
}
a:hover {
  color: rgb(180, 169, 185);
  opacity: 100%;
}
a:visited {
  color: rgb(152, 140, 158);
   opacity: 100%;
}

chen {
  text-align: center;
}

footer {
   position: -webkit-sticky;
   left: 0;
   bottom: 0.5em;
   width: 100%;
   padding: 20px;
   background-color: rgb(152, 140, 158);;
   color: white;
   text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgba(255, 255, 255, 0.363);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em;
  text-align: center;
  float: center;
  opacity: 80%
}

signupsheet { 
font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.2em;
  color: rgba(247, 247, 247, 0.753);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
 
}
h6 { 
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.1em;
  color: #333;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 0.5em;
  line-height: 1.8;
  opacity: 90%;
  float: center; 
}